################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
# the project part is maybe the only one you will need to modify for a new
# project
[buildout]
parts = part
eggs-directory=${buildout:directory}/../../eggs/cache
develop-eggs-directory=${buildout:directory}/../../eggs/develop-eggs
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
setuptools = 0.6c8
minitage.recipe  >= 0.0.1
minitage.core>=0.0.4
[part]
name = part
recipe = minitage.recipe:cmmi
url = http://${mirrors:sourceforge}/sourceforge/libpng/libpng-1.2.18.tar.gz
md5sum = bd08a55e319022a7cdc6e3882d6b9497
[mirrors]
#sourceforge = belnet.dl.sourceforge.net
#sourceforge = dfn.dl.sourceforge.net
sourceforge = ovh.dl.sourceforge.net
